
{% extends "microblog/base.html" %}

{% load bootstrap3 %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <form role="form" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons submit='submit' %}{% endbuttons %}
    </form>
    {% endif %}
    {% for post in page_obj %}
    <p>
    <a href="{% url 'microblog:user' post.user.username %}">{{ post.user.username }}</a> says: <b>{{ post.body }}</b>
    </p>
    {% endfor %}
    <nav aria-label="...">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li>
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li>
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}